<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

    <body>
        <%- include('layouts/navbar'); -%>

            <!-- Page Header-->
            <header id="newuser" class="masthead2">
                <!-- <header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')"> -->
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-1 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="page-heading">
                                <h1>Issue Registration Pre-Auth Code For New
                                    User <i class="fa-solid fa-fingerprint"></i></h1>
                                <!-- <span class="subheading">Go ahead, I dare you! Make a new blog post!</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main Content-->
            <main class="mb-4">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <!-- <p>Want to get in touch? Fill out the form below to send me a message and I will get
                                back to you as
                                soon as possible!</p> -->

                            <div class="my-3">
                                <% if(newPreauth.email=="" ) { %>
                                    <form action="/issuePreauth" method="POST">
                                        <div class="form-floating">
                                            <input class="form-control" name="email" id="email" type="email"
                                                placeholder="Email" required />
                                            <label for="name">Email for new user</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="sendEmail"
                                                name="sendEmail" checked>
                                            <label class="form-check-label" for="flexCheckChecked"><small
                                                    class="text-muted">
                                                    Email code to user with registration link
                                                </small>
                                            </label>
                                            <!-- </label> -->
                                        </div>
                                        <!-- <div class="form-floating">
                                        <input class="form-control" name="password" id="password" type="password"
                                            placeholder="password" />
                                        <label for="name">Password</label>
                                    </div> -->

                                        <br />

                                        <button class="btn btn-primary text-uppercase" type="submit">Create PreAuth
                                            Code</button>
                                        <!-- </form> -->
                                        <br />
                                        <!-- <div><small class="text-muted"><a href="/reset">Forgot password?</a></small>
                                    </div> -->
                                    </form>
                                    <% } else { %>
                                        <div id="preauthMsg">
                                            <code>
                                                <ul>
                                                    <li>
                                                        Email: 
                                                        <span>
                                                            <%=newPreauth.email %>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <%=newPreauth.msg %>
                                                    </li>
                                                    <li>
                                                        Auth code:
                                                        <span>
                                                            <%=newPreauth.preauth %>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </code>
                                            <br />
                                            <a class="btn btn-small btn-success text-uppercase"
                                                href="/issuePreauth">Create another
                                                preauth code</a>
                                        </div>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('layouts/footer'); -%>
                <%- include('layouts/scripts'); -%>

    </body>

</html>